*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}



.App {
  /* text-align: center; */
  width: 370px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  /* justify-content: center; */
  /* height: 650px; */
  height: 100vh;
 
}

h3{
  font-size: 20px;
}

.ade{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 30px; */
  

}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.facebook{
  color: blue;
  /* margin-top: 20px; */
  font-size: 60px;
}

.container{
  background-color: white;
  box-shadow: 4px 8px 16px black;
  border-radius: 10px;
  width: 340px;
  /* justify-content: center; */
  /* align-items: center; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  height: 400px;
  margin-left: 15px;
  margin-top: 30px;
  


}
input{
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  border: 1px solid blue;
  border-radius: 3px;
  padding-left: 8px;

}

.btn{
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  border: 1px solid blue;
  border-radius: 3px;
  padding-left: 128px;
  background-color: blue;
  color: white;
  text-decoration: none;
  padding-top: 10px;

}

.new{
  width: 250px;
  text-decoration: none;
  padding-top: 10px;
  height: 50px;
  font-size: 20px;
  margin-top: 20px;
  border: 1px solid blue;
  background-color: green;
  color: white;
  border-radius: 3px;
  padding-left: 8px;
}
.hr{
  margin-top: 20px;
  width: 250px;
  height: 2px;
  background-color: gray;
}
.for{
  margin-top: 10px;
  text-decoration: none;
  font-size: 17px;

}


@media (min-width: 768px){
  .App{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-left: 250px; */

    
  }
  .container{
  margin-left: 200px;


  }
  h3{
    font-size: 25px;
  }
  .facebook{
    font-size: 80px;
  }
  
  
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


